$nav-text: white;
$primary-color: #003454;
.next-page,
.prev-page,
.page-num {
  margin: 10px;
  box-sizing: border-box;
  width: calc(33.3% - 20px);
}
.search {
  padding: 20px;
  font-size: 16px;
}
.next-page {
  float: right;
}
.page-num {
  text-align: center;
}
.list {
  background-color: white;
}
.list-item {
    border: $primary-color 2px solid;
    padding: 10px;
    &:not(:last-child) {
      border-bottom: none;
    }
    div {
        display: inline-block;
        padding: 20px;
    }
    .actions {
        float: right;
        .edit {
            background-color: lightgreen;
        }
        .remove {
            background-color: lightcoral;
        }
        button {
            padding: 10px;
            margin: 0 10px;
        }
    }
}
.clearfix {
    clear: both;
    float: none;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
}
